
.logo{
    width: 70px;
    height: 70px;
    border-radius: 15px;
}
.login {
    color: #2c3792;
    font-style: italic;
}
.navmenu {
    font-style: italic;
    margin-left: 20px;
    color: #2c3792;
}
.Navbar {
    /* border-bottom: #2c3792; */
    /* border-bottom-style: solid; */
    /* border-bottom-width: 1px; */
    background: whitesmoke;
    box-shadow:0px 2px 14px 0px rgba(0,0,0,0.2);
    height: 80px;
   
}
.Nav {
    /* position: fixed; */
    width: 100%;
    z-index: 99999;
}
