.sec-section {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 100px;  
}
.part {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.Title {
    color: #555;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.Text {
    display: flex;
    align-items: center;
    width: 200px;
    color: rgb(155, 152, 152);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
 .image{
    height: 150px;
    border-style: solid;
     border-radius: 100px;
     border-color: #fffd47;
     border-width: 2px;
    box-shadow: 5px 2px 5px #2c3792; 
}
